/*************重写登陆后头部样式*****/

.hbut_after {
	width: 138px;
	height: 54px;
	float: right;
	margin-top: 16px;
}

.hbut_after a,
.hbut_after span {
	display: inline-block;
	float: left;
}

.hbut_after span {
	line-height: 20px;
	font-size: 12px;
	color: #8156AC;
	margin-left: 14px;
}

.hbut_after .hbut_first_icons {
	height: 20px;
	overflow: hidden;
	margin-bottom: 8px;
}

.hbut_first_icons .last_a {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}

.hbut_after .hbut_last_icons a {
	margin-right: 10px;
}
.detail_table_search {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 12px;
}
/*.detail_table .bunko{
	display: none;
}
.detail_table .grants{
	display: none;
}
.detail_table .com{
	display: none;
}*/
.detail_table label {
	color: #8156AC;
}

.detail_table table {
	width: 808px;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid rgb(192,191,194);
}

.detail_table .input_s {
	width: 100px;
	height: 20px;
	display: inline-block;
	border: 1px solid black;
}

.detail_table .last_input {
	width: 66px;
	height: 22px;
	border: none;
	display: inline-block;
	cursor: pointer;
	background: #39A4E1;
	border-radius: 10px;
	margin-left: 10px;
	font-size: 12px;
	color: #FCFAFF;
}

.detail_table table td {
	border: 1px solid rgb(192,191,194);
	text-align: center;
	height: 24px;
}

.detail_table .nothing {
	text-align: center;
	margin-top: 34px;
}
